<p>
  <b>Day:</b>
  <%=h @event.day %>
</p>

<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
